.card-details {
    /* Basic styling */
    background-color: #fff; /* Background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
    padding: 20px; /* Padding inside the card */

    margin: 30px; /* Margin around the card */
    background-color: #ffeeee;

    .title-1{
        font-size: 35px;
        font-weight: 600;
        color: rgb(31, 12, 12);
    }
    .title-2{
        margin-top: 10px;
        color: gray;
    }
    i{
        color: red;
        margin: 30px 0px;
        font-size: 30px;
    }
    .location{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 50px;
    }

    .row{
        // margin-left: 30px;
        // text-align: start;
        font-size: 20px;
        line-height: 2;
    }
    .other{
        text-align: start;
        font-size: 22px;
        margin: 40px 30px;
    }

    .gradient_bg {
        background: linear-gradient(90deg, #540654, #cc0d85 50%, #540654 100%, #00d4ff 0);
    }
    .text-light {
        color: #f8f9fa !important;
    }
    .btn-1:before {
      content: "";
      position: absolute;
      height: 150px;
      width: 50px;
      background: #ffffff;
      left: -55px;
      top: -40px;
      transform: rotate(37deg);
      transition: all 0.3s ease; /* Specify the timing function */
      opacity: 0.3; /* The correct value for opacity */
      box-sizing: border-box;
    }
  
    .btn:hover::before {
      left: 180px;
    }

    .btn-1 {
        font-size: large;
        padding: 5px 20px;
        font-weight: 600;
        text-align: center;
        display: inline-block;
        border: 1px solid #fff;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

}
