.home-style{
    margin-top: -40px;
    padding-top: 10px;
    height: 550px;
    background-image: url('../../assets/images/banner-bg.59ddabf7.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
    

    .animated-image {
        animation: moveUpDown 4s infinite; 
      }
    
    .top-heading{
      padding-top: 10vh;
      font-size: 48px;
      line-height: 60px;
      font-family: Nunito, sans-serif;
      color: #800080;
      font-weight: 700;
    }
    .font-lg{
      font-weight: 500;
      font-size: 24px;
      line-height: 26px;
    }
    .second-heading{
      margin-top: 20px !important;
      color: grey;
      font-family: Nunito, sans-serif;
    }
    .wrap{
      padding-top: 20px;
    }
    .button2, .button2:before {
      border-radius: 1000px;
      transition: all .3s ease-in-out 0s;
    }
    .button2 {
      margin-top: 10px;
      min-width: 300px;
      min-height: 60px;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      font-weight: 600;
      color: #fff;
      background: #4fd1c5;
      background: linear-gradient(90deg, #ad32a2, #58034a);
      border: none;
      box-shadow: 12px 12px 24px rgba(79,209,197,.64);
      cursor: pointer;
      outline: none;
      position: relative;
      padding: 10px;
      // z-index: 1;
    }
    .button2:after {
      content: "";
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: 6px solid #00ffcb;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: ring 1.5s infinite;
  }

  @media only screen and (max-width: 950px){
    .col.teacher-image{
      display: none;
    }
    .responsive-component{
      justify-content: center;
    }
    .top-heading{
      padding-top: 20px;
      font-size: 21px;
      line-height: 30px;
    }
  }
  
}

@keyframes moveUpDown {
    0% {
      transform: translateY(-30px); // Start position
    }
    50% {
      transform: translateY(30px); // Middle position
    }
    100% {
      transform: translateY(-30px); // End position
    }
  }

  @keyframes ring{
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }